<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <testsuites>
        <testsuite name="unit-tests">
            <directory>tests/unit</directory>
            <directory>vendor/basho/riak/tests/unit</directory>
        </testsuite>
        <testsuite name="functional-tests">
            <directory>tests/functional</directory>
            <directory>vendor/basho/riak/tests/functional</directory>
            <exclude>vendor/basho/riak/tests/functional/SecurityFeaturesTest.php</exclude>
            <exclude>vendor/basho/riak/tests/functional/TimeSeriesOperationsTest.php</exclude>
        </testsuite>
        <testsuite name="security-tests">
            <file>vendor/basho/riak/tests/functional/SecurityFeaturesTest.php</file>
        </testsuite>
        <testsuite name="scenario-tests">
            <directory>tests/scenario</directory>
            <directory>vendor/basho/riak/tests/scenario</directory>
            <exclude>vendor/basho/riak/tests/scenario/InternalServerErrorTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
            <directory>vendor/basho/riak/src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="PB_INTERFACE" value="1"/>
    </php>
</phpunit>
